exclude: 'wiki-syntax-spec/.*'

repos:
  - repo: https://github.com/trim21/pre-commit-mirror-meson
    rev: 'v1.10.1'
    hooks:
      - id: meson-fmt
        args: ['--inplace', '--editor-config']

  - repo: https://github.com/trim21/dprint-pre-commit
    rev: 'v0.51.1.0'
    hooks:
      - id: dprint
        pass_filenames: false
        always_run: true

  - repo: https://github.com/henryiii/validate-pyproject-schema-store
    rev: '2025.12.30'
    hooks:
      - id: validate-pyproject
        args:
          - --disable
          - ruff

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-ast
      - id: check-builtin-literals
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-added-large-files # check for file bigger than 500kb
      - id: debug-statements
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: fix-byte-order-marker

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix]

  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
