name: Reusable workflow example

on:
  workflow_call:

jobs:
  build_wheels:
    name: Build wheels
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-14
            cibw_arch: arm64
            cibw_build: '*'
            cibw_settings: "setup-args='-Dpython.allow_limited_api=false'"

          - os: windows-latest
            cibw_arch: AMD64
            cibw_build: '*[02468]-*'
            cibw_settings: "setup-args='-Dpython.allow_limited_api=false'"

          - os: windows-latest
            cibw_arch: AMD64
            cibw_build: '*[13579]-*'
            cibw_settings: "setup-args='-Dpython.allow_limited_api=false'"

          - os: ubuntu-latest
            cibw_arch: x86_64
            cibw_build: '*[02468]-*'
            cibw_settings: "setup-args='-Dpython.allow_limited_api=false'"

          - os: ubuntu-latest
            cibw_arch: x86_64
            cibw_build: '*[13579]-*'
            cibw_settings: "setup-args='-Dpython.allow_limited_api=false'"

          - os: macos-14
            cibw_arch: arm64
            cibw_build: 'cp310*'
            cibw_settings: "setup-args='-Dabi=3.10' setup-args='-Dpython.allow_limited_api=true'"

          - os: windows-latest
            cibw_arch: AMD64
            cibw_build: 'cp310*'
            cibw_settings: "setup-args='-Dabi=3.10' setup-args='-Dpython.allow_limited_api=true'"

          - os: ubuntu-latest
            cibw_arch: x86_64
            cibw_build: 'cp310*'
            cibw_settings: "setup-args='-Dabi=3.10' setup-args='-Dpython.allow_limited_api=true'"

    steps:
      - uses: actions/checkout@v5

      - name: Restore cached Primes
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            ~\AppData\Local\pypa\cibuildwheel\Cache
            ~/Library/Caches/cibuildwheel
            ~/.cache/cibuildwheel
          key: 'cibuildwheel-${{ runner.os }}-${{ matrix.cibw_arch }}-${{ matrix.cibw_build }}'
          restore-keys: |
            cibuildwheel-${{ runner.os }}-${{ matrix.cibw_arch }}

      - uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_BUILD_VERBOSITY: 1
          CIBW_ARCHS: ${{ matrix.cibw_arch }}
          CIBW_BUILD: ${{ matrix.cibw_build }}
          CIBW_CONFIG_SETTINGS: ${{ matrix.cibw_settings }}

      - run: ls ./wheelhouse/

      - uses: actions/upload-artifact@v5
        with:
          name: 'wheels-${{ runner.os }}-${{ matrix.cibw_arch }}-${{ strategy.job-index }}'
          path: ./wheelhouse/*.whl

  build:
    name: make pure-py wheel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - run: pipx run flit build

      - uses: actions/upload-artifact@v5
        with:
          name: 'wheels-pure-py'
          path: dist/*.whl
